/*

!/Scripts
!/Scripts/*

!.vimrc
!.bashrc
!.bashrunrc
!.editorconf
!.luacheckrc
!.fonts.conf
!.sxhkdrc
!.xinitrc
!.screenrc
!.polybarrc
!.gtkrc-2.0
!.comptonrc
!.xresources
!.bspwmrc
!.bspwmrc_external_rules
!.vim/autoload/plug.vim
!.gitattributes
!.gitignore
